:root {
    --orange: #F5841F;
    --lightblue: #8ECAE6;
    --lightbluetransparent: rgba(142, 202, 230, 12%);
    --darkblue: #16213C;
    --grey: #F5F5F5;
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    height: 0;
}

p {
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
    color: var(--darkblue);
}

.header--flex {
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: space-between;
    padding: .5em;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}

.header--flex > a > .logo__image {
    display: block;
    width: 10em;
}

.button {
    background-color: var(--orange);
    color: white;
    border-radius: 200em;
    font-weight: bold;
    border: .2em var(--orange) solid;
    padding: .5em 1em;
    font-size: 1em;
    white-space: nowrap;
    margin: 0 auto;
}

.button--header {
    margin: 0;
}

.button:hover {
    background-color: white;
    color: var(--orange);
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.navigation > .headernav h2 {
    text-align: center;
    color: var(--lightblue);
    margin: 0;
}

.navigation > .headernav {
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 5;
    width: 100%;
    padding: .5em;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.navigation > .headernav > .iconheadermenu {
    position: relative;
    width: 15px;
    height: 15px;
}

.navigation > .headernav > .iconheadermenu > .rectangle1menu {
    left: 0.2em;
    position: absolute;
    transform-origin: top left;
    transform: rotate(45deg);
    width: 0.781em;
    height: 0.2em;
    background-color: var(--lightblue);
    transition-duration: .5s;
}

.navigation > .headernav > .iconheadermenu > .rectangle2menu {
    top: .15em;
    left: 1.2em;
    position: absolute;
    transform-origin: top left;
    transform: rotate(135deg);
    width: 0.8em;
    height: 0.2em;
    background-color: var(--lightblue);
    transition-duration: .5s;
}

.navigation > .menunavigation {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    border-top: solid .1em black;
    transition: .5s;
    z-index: -1;
    transform: translateY(-100%);
}

.navigation > .menunavigation > a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: var(--lightblue);
    border-bottom: solid .1em black;
    padding: .75em;
    font-weight: bold;
}

.navigation > ul > a:visited {
    color: inherit;
}

.navigation > .headernav > .iconheadermenu > .active__rectangle1menu {
    width: 1.375em;
}

.navigation > .headernav > .iconheadermenu > .active__rectangle2menu {
    width: 1.375em;
}

.navigation > .active__menunavigation {
    transform: translateY(0%);
    z-index: 0;
}

.main {
    transform: translateY(-13.3em);
    transition: .5s;
}

.active__main {
    transform: translateY(0em);
}

.main > header {
    display: flex;
    flex-direction: column;
    padding: .2em;
}

.main > header > img {
    box-sizing: border-box;
    width: 85%;
    border-radius: 1em;
    margin: 0 auto;
}

.main > header > p {
    text-align: center;
    color: var(--darkblue);
}

.texthightlightcolor{
    color: var(--orange);
}

.texthightlight{
    font-weight: bold;
}

.main > header > .draft {
    color: var(--darkblue);
}

.main > header > .draft > li {
    list-style-image: url(../Images/Vector.svg);
    padding: .5em 0;
}

.main > header > .button--footer {
    background-color: var(--orange);
    color: white;
    border-radius: 200em;
    font-weight: bold;
    border: .2em var(--orange) solid;
    padding: .5em 1em;
    font-size: 1em;
    white-space: nowrap;
    margin: 0 auto;
}

.main > header > .listoflogos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.main > header > .listoflogos > img {
    height: 2em;
}

.main > article {
    background-color: var(--lightbluetransparent);
    padding: .4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}

.main > article > h2 {
    text-align: center;
    color: var(--darkblue);
}

.main > article > .article_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding: .4em;
}

.main > article > .article_1 > figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.main > article > .article_1 > figure > figcaption {
    text-align: center;
    color: var(--darkblue);
    font-weight: bold;
}

.main > article > .article_1 > figure > img {
    width: 50%;
}

.main > article > .article_2 {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    padding: 1em;
}

.main > article > .article_2 > div {
    background-color: white;
    border-radius: 5%;
    padding: 1em;
    width: 85vw;
    flex-shrink: 0;
    box-shadow: .3em .3em 1em var(--lightbluetransparent);
}

.main > article > .article_2 > div > h3 {
    text-align: center;
}

.main > article > .button--footer2 {
    background-color: var(--orange);
    color: white;
    border-radius: 200em;
    font-weight: bold;
    border: .2em var(--orange) solid;
    padding: .5em 1em;
    font-size: 1em;
    white-space: nowrap;
    margin: 0 auto;
}

.main > section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.main > section > img {
    width: 85%;
    margin: 0 auto;
    border-radius: 1em;
}

.main > section > .comments {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: .5em;
    align-items: center;
}

.main > section > .comments > .comments__flex {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.main > section > .comments > .comments__flex > p {
    max-height: 3.5em;
    overflow: hidden;
}

.main > .news {
    background-color: var(--grey);
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main > .news > h2 {
    margin: 0;
}

.main > .news > .news__content {
    display: flex;
    flex-direction: row;
    gap: 3em;
    height: 8em;
}

.main > .news > .news__content > .news__content--date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > .news > .news__content > .news__content--date > img {
    position: absolute;
    width: 5em;
    left: 2.5em;
}

.main > .news > .news__content > .news__content--date > p {
    position: relative;
    z-index: 1;
    top: .4em;
    left: 1em;
}

.main > .news > .news__content > .news__content--text {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.main > .news > .news__content > .news__content--text > .textoverflow {
    overflow: hidden;
}