:root {
    --orange: #F5841F;
    --lightblue: #8ECAE6;
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.header--flex {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    gap: .5em;
    align-items: center;
}

.header--flex .logo__image {
    display: block;
    width: 150px;
}

.header--flex .button--header {
    background-color: var(--orange);
    color: white;
    border-radius: 200em;
    font-weight: bold;
    border: .2em var(--orange) solid;
    padding: .5em 1em;
    font-size: 1em;
    white-space: nowrap;
}

.header--flex .button--header:hover {
    background-color: white;
    color: var(--orange);
    text-decoration: none;
}

.header--flex a:link {
    text-decoration: none;
}

.header--flex a:visited {
    text-decoration: none;
}

.header--flex a:active {
    text-decoration: none;
}

.navigation h2 {
    text-align: center;
    margin: .2em;
    background-color: black;
    color: var(--lightblue);
    margin: 0;
    padding: .5em;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    border-top: solid .1em black;
}

.navigation ul li {
    width: 100%;
    text-align: center;
    background-color: var(--lightblue);
    border-bottom: solid .1em black;
    padding: .4em;
    font-weight: bold;
}